@charset "utf-8";
/*
* Global Styles
*/

* {
    border-collapse: collapse;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/*
* Header Styles
*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #252831;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

header h1 {
    font-size: 1.66rem;
    letter-spacing: 0.66rem;
    line-height: 1;
    font-weight: 100;
    text-align: center;
    margin: 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
}

header a {
    margin: 0 auto 0 auto;
    padding: 0;
    color: #eeeeee;
    text-decoration: none;
}

nav {
    width: 100%;
}

#breadcrumb {
    text-align: left;
    background-color: #eeeeee;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#breadcrumb li {
    /* Display list items side by side */
    display: inline;
}

#breadcrumb li+li:before {
    /* Add a slash symbol (/) before/behind each list item */
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

#breadcrumb li a {
    /* Add a color to all links inside the list */
    color: #0275d8;
    text-decoration: none;
}

#breadcrumb li a:hover {
    /* Add a color on mouse-over */
    color: #01447e;
    text-decoration: underline;
}

/*
* Content Styles
*/

main {
    width: 100%;
    z-index: 0;
    padding-top: 5rem;
    background-color: #eeeeee;
}

.inside main {
    padding-top: 7.1rem; 
}

#map-container, #map {
    height: 24rem;
    width: 100%;
}

@media screen and (max-width:515px) {
    main {
        padding-top: 7.3rem;
    }

    .inside main {
        padding-top: 9.4rem;
    }

    #map-container, #map {
        height: 20rem;
    }
}

#content-container {
    margin: 0;
    padding: 0;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    background-color: #0275d8;
}

.filter-options h2 {
    text-transform: uppercase;
    color: #eeeeee;
    margin: 0;
    font-size: 1rem;
    padding: 0.67rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

@media screen and (max-width:515px) {
    .filter-options h2 {
        width: 100%;
    }
}

.filter-options select {
    font-size: 0.8rem;
    margin: 0.67rem;
}

#restaurants-list, #reviews-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #eeeeee;
}

#restaurants-list li, #reviews-list li {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 300px;
    margin: 1rem;
    padding: 0;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#restaurants-list li img {
    max-width: 222px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0.5rem auto 0.5rem auto;
}

#restaurants-list li h1 {
    margin: 0 0 0.5rem 0;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-top-left-radius: 1rem;
    color: #ffffff;
    background-color: #f18200;
    text-transform: uppercase;
    font-weight: 100;
}

#restaurants-list p {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
    text-align: left;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#restaurants-list li a {
    background-color: #f18200;
    border-bottom: 3px solid #eee;
    color: #fff;
    font-size: 1rem;
    margin: 1rem auto 1rem auto;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*
* Restaurant Page Specific Styles
*/

#restaurant-container {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#restaurant-container h1 {
    width: 100%;
    text-transform: uppercase;
    color: #f18200;
    font-weight: 100;
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

#restaurant-container img {
    width: 100%;
    max-width: 600px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#restaurant-cuisine {
    width: 100%;
    max-width: 600px;
    color: #ffffff;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #252831;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#restaurant-hours, #restaurant-address {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 1.5rem 1rem 1.5rem;
}

#reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-evenly;
}

#reviews-container h2 {
    text-transform: uppercase;
    color: #f18200;
    font-weight: 100;
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

#reviews-list li .name {
    margin: 0 0 0.5rem 0;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-top-left-radius: 1rem;
    color: #ffffff;
    background-color: #252831;
    text-transform: uppercase;
    font-weight: 100;
}


#reviews-list .date {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    line-height: 1.25;
    font-weight: 600;
}

#reviews-list .rating {
    width: auto;
    background-color: #f18200;
    color: #fff;
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
    padding: 0.4rem 0.8rem 0.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

#reviews-list .comment {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    line-height: 1.25;
}

/*
* Footer Styles
*/

footer {
    width: 100%;
    text-align: center;
}

footer p {
    padding: 0.6rem;
    margin: 0;
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #eeeeee;
    background-color: #252831;
}

footer p a {
    white-space: nowrap;
    color: #0275d8;
    text-decoration: none;
}
